.App {
  padding: 20px;
}

.add {
  text-align: center;
}

.upload {
  display: none;
}

.control {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
}

.control:hover{
  background: #f9f9f9;
}

.file {
  padding-left: 10px;
}